#color_rgba {
	background-color:rgba(255, 193,7,0.38);
	color:#fff;
}
#color_hsl {
	background-color:hsl(235, 100%, 86%);
	color:#fff;
}
#color_hsla {
	background-color:hsla(291, 64%, 42%, 0.28);
	color:#fff;
}
#color_rgba,#color_hsl,#color_hsla
{
padding:5px;
}
