.fontfamily {
    font-family: "comic sans ms", Arial;
  }
  .customFont {
    font-family: navBrandFont;
  }
  .fontstyle {
    font-style: italic;
  }
  .fontvariant {
    font-variant: small-caps;
  }
  .fontweight {
    font-weight: bold;
  }
  .lineHeight {
    line-height: 40px;
  }
  @font-face {
    font-family: navBrandFont;
    src: url(blackjack.otf);
  }
  