.signup {
    width: 650px;
    height: 330px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px; 
	box-shadow: 8px 8px 8px -5px rgba(0,0,0,.3);
}
.signup p {
    position: relative;
    font: italic 2em 'trebuchet MS';
    color: black;
    text-align: center;
    margin: 0 0 20px;
	text-shadow: 0 0 4px #2493ff;   
}
.signup p::before{
    content:'<-';
}
.signup p::after{
    content:'->';    
}
.signup input{
    margin: 5px 0;
    padding: 15px;
    width: 615px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}
.signup button{
    margin: 20px 0 0 0;
    padding: 15px 8px;          
    width: 100%;
    border: 1px solid #2493FF;
    color: #fff;
    font: bold 1.4em arial, helvetica;
    background-color: #2493ff;
    border-radius: 10px;
	font-family:myFirstFont; 
} 
.signup input:focus{
    outline: 0;
    border-color: #aaa;
    box-shadow: 0 3px 1px rgba(0, 0, 0, .3) inset;
} 
@font-face
{
    font-family: myFirstFont;
    src: url('TagsXtreme2.eot?#iefix') format('embedded-opentype'),
    url('TagsXtreme2.ttf?iefix') format('truetype');
} 
