h1:hover{
    background-color: black;
    color: whitesmoke;
}
input[type="text"]:enabled {
    background-color: lightblue;
  }
  input[type="text"]:required {
    background-color: red;
  }
  p::first-letter {
    color: #8a2be2;
    font-size: 200%;
  }
    

  a:hover {
    background-color: black;
    color: white;
  }
  a:visited {
    color: purple;
  }

  input[type="text"]:enabled {
    background-color: lightblue;
  }
  input[type="text"]:required {
    background-color: red;
  }
  
  